body {
  background-color: #b99272;
  font-family: 'YourCustomFont', sans-serif;
  /* Replace with your custom font */
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-header {
  color: white;
  padding: 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 0;
}



.logo {
  max-width: 400px;
  /* Adjust the size as needed */
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  margin: 0 10px;
}

.countdown-number {
  font-size: 2rem;
  font-weight: bold;
  background-color: #222;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.countdown-label {
  margin-top: 5px;
}

@media (max-width: 768px) {

  /* Add mobile-specific styles here */
  .countdown-number {
    font-size: 1.5rem;
  }
}